.about {
  padding-bottom: 100px;

  @include vp-1023 {
    padding: 39px 0 79px;
  }
 }

.about__container {
  display: flex;
  gap: 100px;
  max-width: 1222px;
  margin: 0 auto;


  @include vp-1023 {
    gap: 0 30px;
    padding-left: 46px;
    padding-right: 50px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.about h2 {
  font-size: 36px;
  line-height: 50px;

  @include vp-767 {
    font-size: 28px;
    line-height: 40px;
  }
}

.about__descriptions {
  display: grid;
  gap: 20px;
  margin-top: 13px;

  @include vp-767 {
    margin-top: 10px;
  }
}

.about p {
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

[data-hidden-text="hidden"] {
  display: none;
}

[data-hidden-text="mobile"]{
  display: inline;

  @include vp-767 {
    display: none;
  }
}

.about button {
  margin-top: 40px;

  @include vp-1023 {
    margin-top: 14px;
  }

  @include vp-767 {
    margin-top: 13px;
  }
}

.about img {
  order: -1;
  margin-bottom: auto;

  @include vp-1023 {
    margin-top: 4px;
  }

  @include vp-767 {
    display: none;
  }
}
