.button {
  box-sizing: border-box;
  border: none;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.2s;
}

.button--modal {
  font-size: 14px;
  line-height: 16px;
  color: $color-alice-blue;
  padding: 11px 15px;
  border: 1px solid $color-alice-blue;
  z-index: 3;
}

.button--modal:hover {
  background-color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
}

.button--modal:active {
  transform: scale(0.9);
}

.button--intro {
  font-size: 18px;
  line-height: 22px;
  color: $color-alice-blue;
  padding: 16px 28px;
  background-color: $color-deep-sky-blue;

  @include vp-767 {
    padding: 11px 33px;
  }
}

.button--intro:hover {
  background-color: $color-black-pearl;
}

.button--intro:active {
  transform: scale(0.9);
}

.button--about {
  font-size: 14px;
  line-height: 16px;
  color: $color-deep-sky-blue;
  padding: 14px 48px;
  border: 1px solid $color-deep-sky-blue;

  @include vp-767 {
    padding: 8px 38px;
  }
}

.button--about:hover {
  color: $color-alice-blue;
  background-color: $color-deep-sky-blue;
}

.button--about:active {
  color: $color-alice-blue;
  background-color: $color-black-pearl;
  border-color: $color-black-pearl;
  transform: scale(0.9);
}

.button--question {
  font-size: 16px;
  line-height: 18px;
  color: $color-default-white;
  padding: 16px 30px 10px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding: 16px 30px 12px;
  }
}

.button--pop-up {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.button--pop-up::before,
.button--pop-up::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 1px;
  background-color: $color-default-white;
  border-radius: 2px;
}

.button--pop-up::before {
  transform: rotate(45deg);
}

.button--pop-up::after {
  transform: rotate(-45deg);
}

.button--pop-up:hover {
  background-color: $color-black-pearl;
}

.button--pop-up:active {
  transform: scale(0.9);
}
