.footer {
  background-color: $color-black-pearl;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
