.logo {
  display: flex;
  gap: 15px;
  color: $color-alice-blue;
}

.logo__image--header {
  @include vp-767 {
    display: none;
  }
}

.logo__image--mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.logo__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 4px;
}

.logo__description {
  font-size: 14px;
  line-height: 14px;
}

.logo__wrapper--header {
  @include vp-767 {
    display: none;
  }
}

.logo__wrapper--footer {
  @include vp-1023 {
    margin-top: 2px;

    .logo__description {
      font-size: 11px;
    }
  }
}
