.main {
  background-color: $color-wisper;
}

.main__intro {
  padding: 184px 80px 280px 80px;
}

.main__advantages {
  padding: 120px 0;
}

.main__goods {
  padding: 70px 0 140px 0;
}

.main__questions {
  margin-left: auto;
  padding: 170px 0 416px ;
}
