.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-color: $color-black-pearl-transparent;
  transition: 0.5s;
  z-index: -10;

  @include vp-1023 {
    display: none;
  }
}

.pop-up__wrapper {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  width: 500px;
  background-color: $color-deep-sky-blue;
  padding: 40px;
  padding-top: 36px;
  border-radius: 4px;
  transform: translate(-51%, -54%);
}

.pop-up__title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: $color-default-white;
}

.pop-up__description {
  line-height: 22px;
  margin-top: 6px;
  padding-right: 20px;
  color: $color-default-white;
}

.pop-up__button {
  position: absolute;
  top: 15px;
  right: 28px;
}

.pop-up form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 36px;
}

.pop-up .question-form textarea {
  margin: 0;
}

.pop-up form button {
  margin: 0;
}

.pop-up .question-form__personal-data {
  margin-top: 0;
  color: $color-default-white;
}
